{% load static %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Journal{% endblock %}</title>
    <link rel="stylesheet"href="{% static 'style.css' %}">

</head>
<body>
    <header>
        <nav>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
</nav>

        <h2>📝 My Journal</h2>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </main>
</body>
</html>
