{% extends 'base.html' %}
{% block title %}Home -- My Journal {% endblock %}
{% block content %}

{% if messages %}
<ul>
     {% for message in messages %}
     <li style="background: #d4edda; padding: 10px; border-radius: 4px; color: #155724; margin-bottom: 20px;">
        {{ message }}
      </li>
{% endfor %}
</ul>
{% endif %}


  <h1>Welcome to your journal 🚀</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Add Note</button>
  </form>
<hr>
{% for note in notes %}
<div style="background: #fff; padding: 15px; border-radius: 8px; box-shadow: 0 0 8px rgba(0,0,0,0.05); margin-bottom: 20px;">
    <h2>{{ note.title }}</h2>
    <p>{{ note.content }}</p>
    <small>{{ note.created_at }}</small>
    <form action="{% url 'delete_note' note.id %}" method="POST" style="display:inline;">
      {% csrf_token %}
      <a href="{% url 'edit_note' note.id %}" style="margin-left: 10px; color: blue;">Edit</a>
      <button type="submit" style="color: rgb(255, 255, 255); margin-left: 10px;">Delete</button>
    </form>
  </div>
  
{% empty %}
  <p>No notes yet</p>
{% endfor %}
{% endblock %}



